
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/connect.css' %}">
</head>
<body>
   
    <CEnter><h1>THE WORLD DISTROYER</h1></CEnter>


    
    <center><img src="{% static 'images/shiva.jpg' %}" alt="600px" width="600"></center>


    <h1><center>
        <a href="{% url 'vishnu:creator' %}">LOOK FOR CREATOR</a><br>
        <a href="{% url 'brahma:operator' %}">LOOK FOR OPERATOR</a>
    </center></h1>

</body>
</html>